<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL_Library.Properties.Settings.dbCSharpConnectionString"
            connectionString="Data Source=(localdb)\Projects;Initial Catalog=dbCSharp;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="DAL_Library.Properties.Settings.dbCSharpConnectionString1"
            connectionString="Data Source=(localdb)\v11.0;Initial Catalog=dbCSharp;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
</configuration>